
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/Cart.css" rel="stylesheet" />



<div class="container">
    <div class="card shopping-cart">
        <div class="card-header bg-dark text-light">
            <h2><strong><span > <i class="fa fa-shopping-cart" aria-hidden="true"></i></span>  Shipping cart </strong></h2>

           

            <a href="Cart/Home" class="btn btn-outline-info pull-right">Continiu shopping</a>
            <div class="clearfix"></div>
        </div>
        <div class="card-body">
            <!-- PRODUCT -->
            @{ double totalPrice = 0 ; }

            @if (Model.UserData.ShoppingCartList != null)
            {
                foreach (var cartItem in Model.UserData.ShoppingCartList)
                {
                    foreach (var product in Model.ProductList)
                    {
                        if (cartItem.ProductID == product.Id)
                        {

                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-2 text-center">

                                    <img class="img-responsive" src=@product.ImageUrl alt="prewiew" width="120" height="80">
                                </div>
                                <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                                    <h4 class="product-name"><strong> @cartItem.ProductName </strong></h4>
                                    <h4>
                                        <small> @product.Description </small>
                                    </h4>
                                </div>
                                <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                                    <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                                        <h5><strong>@product.Price  <span class="text-muted">kr</span></strong></h5>
                                    </div>
                                    @{ totalPrice = totalPrice + product.Price; }

                                    <div class="col-4 col-sm-4 col-md-4">
                                        <div class="quantity">
                                            <input type="button" value="+" class="plus">
                                            <input type="number" step="1" max="99" min="1" value="1" title="Qty" class="qty"
                                                   size="4">
                                            <input type="button" value="-" class="minus">
                                        </div>
                                    </div>
                                    <div class="col-2 col-sm-2 col-md-2 text-right">
                                        <a type="button" class="btn btn-outline-danger btn-lg" href="~/Home/RemoveItem/@product.Id">

                                            <i class="fa fa-trash " aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        }
                    }
                }
            }
            <!-- END PRODUCT -->


        </div>
        <div class="card-footer">
            
            <div class="pull-right" style="margin: 10px">
                <a href="~/Cart/ClearProductList" class="btn btn-success pull-right">Checkout</a>
                <div class="pull-right" style="margin: 5px">
                    <h4><strong><span class="text-muted">Total price: </span>@totalPrice <span class="text-muted">kr</span></strong></h4>
                    
                </div>
            </div>
        </div>
    </div>
</div>
